@import "color.css";

window#osd {
  font-family: "AdwaitaMono Nerd Font";
  border-radius: 12px;
  border: 1px solid @border;
  background: @bg;
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: @bg;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: @primary;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: @accent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@bg, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @primary;
}
